$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body,

h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

h1{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    margin:20px;
}
.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
     padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(https://user-images.githubusercontent.com/27626771/35893236-0fd19e6a-0b7b-11e8-8b45-7d605618429d.png);
    background-size: cover;
    height: 570px;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 15%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.work{
padding: 10px;
}
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  position: relative;
  float: left;
  width: 25%;
  color: #262524;
  padding: 2em;
  img{
    height: 350px;
  }
}

.element-item > * {
  margin: 0;
  padding: 0;
}
.services:hover img{
  background-color: blue;
  border-radius: 8px 24px;
  display: inline-block;
  height: 400px;
  margin: 16px;
  overflow-y: scroll;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  vertical-align: middle;
  width: 300px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.effect-zoe:hover figcaption,
.effect-zoe:hover h2,
.effect-zoe:hover p.icon-links a{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

}
.effect-zoe h2 {
	display: inline-block;

}
.effect-zoe figcaption{
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: rgba(0,0,0,0.75);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.grid  figcaption, .grid  figcaption > a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid  figcaption{
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid .effect-zoe{
	position: relative;
	float: left;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}
.effect-zoe p.icon-links a i
{
	 display:block;
	padding: 50px;
	color: cyan;
	font-size: 1px;

p.icon-links a i{
width: 10px;
height:10px;
}

}

.portfolio-item img {
	width: 100%;
}

.portfolio-items {
	margin-bottom: 60px;
}

.portfolio-item {
	position: relative;
}
img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  display: block;
  max-width: 100%;
  height: 300px;

}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(https://cdn2.hubspot.net/hubfs/381192/blog/Webshop_kundeservice.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}


@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
